.cabecario{
    position: absolute;
    width: 1588px;
    height: 110px;
    left: 2px;
    top: 0px;
    background: #0057BE;
    border-radius: 5px;
    color: #ffffff;

}
    
.img{
      margin-top: 40px;
      margin-left: 10px;
}
    
.form{
margin-top: 150px;
margin-left: 20px;
}

.bt{ 
 margin-top: 20px;
 background:#0057BE;
 width: 159px;
 height: 28px;
 color: #ffffff;
}

.resultado{
  margin-top: 20px;
  margin-left: 20px;
}